<div class="footer">
    <div class="footet-top">
        <div class="user-list-box">
            <div class="user-list-title">
                <span class="user-icon"></span>
                <span class="user-list-title-name">Users</span>
            </div>
            <div class="user-list-columns">
                <div class="user-list-first-column">
                    <p class="user-list-first-column-item">
                        <a href="" class="user-list-item-link">Payment</a>
                    </p>
                    <p class="user-list-first-column-item">
                        <a href="" class="user-list-item-link">Delivery</a>
                    </p>
                    <p class="user-list-first-column-item">
                        <a href="" class="user-list-item-link">Return and exchange</a>
                    </p>
                </div>
                <div class="user-list-second-column">
                    <p class="user-list-second-column-item">
                        <a href="" class="user-list-item-link">Help with the service</a>
                    </p>
                    <p class="user-list-second-column-item">
                        <a href="" class="user-list-item-link">Terms of use</a>
                    </p>
                    <p class="user-list-second-column-item">
                        <a href="" class="user-list-item-link">Feedback</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="shopping-list-box">
            <div class="shopping-list-title">
                <span class="shopping-icon"></span>
                <span class="shopping-list-title-name">Shopping</span>
            </div>
            <div class="shopping-list-columns">
                <div class="shopping-list-first-column">
                    <p class="shopping-list-first-column-item">
                        <a href="" class="shopping-list-item-link">Connectivity</a>
                    </p>
                    <p class="shopping-list-first-column-item">
                        <a href="" class="shopping-list-item-link">Help for shops</a>
                    </p>
                    <p class="shopping-list-first-column-item">
                        <a href="" class="shopping-list-item-link">Dashboard</a>
                    </p>
                </div>
                <div class="shopping-list-second-column">
                    <p class="shopping-list-second-column-item">
                        <a href="" class="shopping-list-item-link">Storehouse</a>
                    </p>
                    <p class="shopping-list-second-column-item">
                        <a href="" class="shopping-list-item-link">Terms of use</a>
                    </p>
                    <p class="shopping-list-second-column-item">
                        <a href="" class="shopping-list-item-link">Feedback</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="statistic-list-box">
            <div class="statistic-list-title">
                <span class="statistic-icon"></span>
                <span class="statistic-list-title-name">Statistic</span>
            </div>
            <div class="statistic-list">
                <p class="statistic-list-item">
                    <span class="statistic-number">453 034</span>
                    <span class="statistic-text">Goods</span>
                </p>
                <p class="statistic-list-item">
                    <span class="statistic-number">2 545</span>
                    <span class="statistic-text">Shops</span>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <ul class="footer-bottom-list">
            <li class="footer-bottom-list-item">
                <a href="" class="footer-bottom-list-item-link">Mobile version</a>
            </li>
            <li class="footer-bottom-list-item">
                <a href="" class="footer-bottom-list-item-link">Statistics</a>
            </li>
            <li class="footer-bottom-list-item">
                <a href="" class="footer-bottom-list-item-link">Advertising</a>
            </li>
        </ul>
    </div>
</div>

