<div class="header">
    <div class="header-top">
        <div class="header-search-box">
            <form class="search-form">
                <input type="text" placeholder="Search goods..." required />
                <input type="submit" value="">
            </form>
        </div>
        <a href="/" class="header-logo"></a>        
        <div class="header-user-bar">
            <ul class="header-user-bar-list">
                <li class="header-user-bar-list-item">
                    <a href="" class="header-user-bar-list-item-link">
                        <span class="header-user-bar-list-item-icon-favorite">125</span>
                        <span class="header-user-bar-list-item-text">Favorite</span>
                    </a>
                </li>
                <li class="header-user-bar-list-item">
                    <a href="" class="header-user-bar-list-item-link">
                        <span class="header-user-bar-list-item-icon-compare"></span>
                        <span class="header-user-bar-list-item-text">Compare</span>
                    </a>
                </li>
                <li class="header-user-bar-list-item">
                    <a href="/cart" class="header-user-bar-list-item-link">
                        <span class="header-user-bar-list-item-icon-cart"></span>
                        <span class="header-user-bar-list-item-text">Cart</span>
                    </a>
                </li>
            </ul>
            @Html.Action("Login", "Home")
        </div>
    </div>
    <div class="header-middle">
        <ul class="header-menu">
            @foreach (var item in ViewBag.CategoriesData)
            {
                <li class="header-menu-list-item">
                    <a href="/catalog/@item.CategoryUrl" class="header-menu-list-item-link">@item.CategoryName</a>
                </li>
            }
        </ul>
    </div>
</div>
@if (Request.Path != "/")
{
    <div class="header-bottom">
        <div class="header-bottom-inside">
            <div class="header-bottom-title">
                <span class="header-bottom-title-star-icon"></span>
                <span class="header-bottom-title-text">@ViewBag.PageHeader</span>
            </div>
            
            @{Html.RenderAction("BreadCrumbs", new { pageUrl = Request.RequestContext.HttpContext.Request.RawUrl });}
            
        </div>
    </div>
}