@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    @Html.Partial("_Slider")
    <div class="products-preview-box">
        <div class="products-preview">
            <div class="products-bar">
                <div class="product-bar-title">
                    <span class="product-bar-title-star-icon"></span>
                    <span class="product-bar-title-text">Interesting offers</span>
                </div>
                <div class="products-type">
                    <div class="popular-button">Popular</div>
                    <div class="trending-button">Trending</div>
                    <div class="new-button">New</div>
                </div>
                <div class="products-sorting">
                    <div class="select-category-box">
                        <select class="select-category" name="categories[]">
                            <option disabled selected>Categories</option>
                            <option value="Audio">Audio</option>
                            <option value="TV">TV</option>
                            <option value="Smartphone">Smartphone</option>
                            <option value="PC">PC</option>
                        </select>
                    </div>
                    <div class="select-date-box">
                        <div class="date-button">Date <span class="date-button-arrow-icon"></span></div>
                    </div>
                </div>
            </div>
            <div class="products-preview-list">
                <!-- 1 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Recommend</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Asus_ZenFone.png">
                    </div>
                    <div class="product-name">Asus ZenFone Go ZB452KG</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 2 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Bestseller</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Xiaomi_Mi.png">
                    </div>
                    <div class="product-name">Xiaomi Mi Band 2</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 3 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Goods of the week</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/LG_43UH610V.png">
                    </div>
                    <div class="product-name">LG 43UH610V</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 4 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Recommend</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Apple_mac_27.png">
                    </div>
                    <div class="product-name">Apple iMac 27 Retina 5K</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 5 -->
                <div class="products-preview-list-item">
                    <div class="product-group">New product</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Asus_Condi.png">
                    </div>
                    <div class="product-name">Asus Condi ZB452KG</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 6 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Recommend</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Electrolux_EZB.png">
                    </div>
                    <div class="product-name">Electrolux EZB 52410 AK</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 7 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Bestseller</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Beats_studio.png">
                    </div>
                    <div class="product-name">Beats studio wireless</div>
                    <div class="product-price">$ 384.4</div>
                </div>
                <!-- 8 -->
                <div class="products-preview-list-item">
                    <div class="product-group">Recommend</div>
                    <div class="product-photo">
                        <img src="/Content/Images/Goods/Nikon_D3300.png">
                    </div>
                    <div class="product-name">Nikon D3300 Kit</div>
                    <div class="product-price">$ 384.4</div>
                </div>
            </div>
            <div class="show-more-products-box">
                <div class="show-more-products-button" onClick="showMoreProducts()">Show More</div>
            </div>
        </div>
    </div>
    <div class="subscribe-box">
        <div class="subscribe">
            <div class="subscribe-box-title">
                <div class="subscribe-box-title-opened-envelope-icon"></div>
                <div class="subscribe-box-title-text">Learn about profitable offers and get personal recommendations</div>
            </div>
            <div class="subscribe-box-field">
                <div class="subscribe-box-form-closed-envelope-icon"></div>
                <input type="email" placeholder="Your e-mail" class="subscribe-box-email-input">
                <input type="submit" value="Subscribe" class="subscribe-box-submit">
            </div>
        </div>
    </div>
    <div class="viewed-products-box">
        <div class="viewed-products-box-title">
            <div class="viewed-products-box-eye-icon"></div>
            <div class="viewed-products-box-title">Recently viewed products</div>
        </div>
        <div class="viewed-products-list">
            <!-- 1 -->
            <div class="viewed-products-list-item">
                <div class="viewed-products-image">
                    <img src="/Content/Images/Goods/viewedProduct1.png" />
                </div>
                <div class="viewed-products-info">
                    <div class="viewed-product-name">
                        <p><a href="#" class="viewed-product-item-link">Apple iPhone 7</a></p>
                    </div>
                    <div class="viewed-product-price">
                        <p>$ 670</p>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="viewed-products-list-item">
                <div class="viewed-products-image">
                    <img src="/Content/Images/Goods/viewedProduct2.png" />
                </div>
                <div class="viewed-products-info">
                    <div class="viewed-product-name">
                        <p><a href="#" class="viewed-product-item-link">LG 43UH610V</a></p>
                    </div>
                    <div class="viewed-product-price">
                        <p>$ 670</p>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="viewed-products-list-item">
                <div class="viewed-products-image">
                    <img src="/Content/Images/Goods/viewedProduct3.png" />
                </div>
                <div class="viewed-products-info">
                    <div class="viewed-product-name">
                        <p><a href="#" class="viewed-product-item-link">LG G6 H870DS</a></p>
                    </div>
                    <div class="viewed-product-price">
                        <p>$ 670</p>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="viewed-products-list-item">
                <div class="viewed-products-image">
                    <img src="/Content/Images/Goods/viewedProduct4.png" />
                </div>
                <div class="viewed-products-info">
                    <div class="viewed-product-name">
                        <p><a href="#" class="viewed-product-item-link">Asus ZenFone</a></p>
                    </div>
                    <div class="viewed-product-price">
                        <p>$ 670</p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
