<div class="discussions-container">
    <div class="discussions">
        <div class="discussions-list">
            <!---->
            <div class="discussions-list-item">
                <div class="discussions-list-item-top">
                    There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun. The truth is the universe is a
                    changing, moving, some would say “living” thing because you just never know what you are going to see on any given night.
                </div>
                <div class="discussions-list-item-bottom">
                    <div class="discussions-list-item-bottom-author">
                        <div class="discussions-list-item-bottom-author-photo"></div>
                        <div class="discussions-list-item-bottom-author-name">Vincent Phelps</div>
                    </div>
                    <div class="discussions-list-item-bottom-date">
                        <div class="discussions-list-item-bottom-date-icon"></div>
                        <div class="discussions-list-item-bottom-date-text">16.12.2019</div>
                    </div>
                    <div class="discussions-list-item-bottom-reply">
                        <div class="discussions-list-item-bottom-reply-icon"></div>
                        <div class="discussions-list-item-bottom-reply-text">Reply</div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="discussions-list-item-reply">
                <div class="discussions-list-item-top">
                    There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun. The truth is the universe is a
                    changing, moving, some would say “living” thing because you just never know what you are going to see on any given night.
                </div>
                <div class="discussions-list-item-bottom">
                    <div class="discussions-list-item-bottom-author">
                        <div class="discussions-list-item-bottom-author-photo"></div>
                        <div class="discussions-list-item-bottom-author-name">Vincent Phelps</div>
                    </div>
                    <div class="discussions-list-item-bottom-date">
                        <div class="discussions-list-item-bottom-date-icon"></div>
                        <div class="discussions-list-item-bottom-date-text">16.12.2019</div>
                    </div>
                    <div class="discussions-list-item-bottom-reply">
                        <div class="discussions-list-item-bottom-reply-icon"></div>
                        <div class="discussions-list-item-bottom-reply-text">Reply</div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="discussions-list-item-reply">
                <div class="discussions-list-item-top">
                    There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun. The truth is the universe is a
                    changing, moving, some would say “living” thing because you just never know what you are going to see on any given night.
                </div>
                <div class="discussions-list-item-bottom">
                    <div class="discussions-list-item-bottom-author">
                        <div class="discussions-list-item-bottom-author-photo"></div>
                        <div class="discussions-list-item-bottom-author-name">Vincent Phelps</div>
                    </div>
                    <div class="discussions-list-item-bottom-date">
                        <div class="discussions-list-item-bottom-date-icon"></div>
                        <div class="discussions-list-item-bottom-date-text">16.12.2019</div>
                    </div>
                    <div class="discussions-list-item-bottom-reply">
                        <div class="discussions-list-item-bottom-reply-icon"></div>
                        <div class="discussions-list-item-bottom-reply-text">Reply</div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="discussions-list-item">
                <div class="discussions-list-item-top">
                    You are mistaken, you can not live without a liver, you do not need a liver, you probably meant to sell a kidney,
                    live with one kidney, although it is disabled, but you can if there are no complications.
                </div>
                <div class="discussions-list-item-bottom">
                    <div class="discussions-list-item-bottom-author">
                        <div class="discussions-list-item-bottom-author-photo"></div>
                        <div class="discussions-list-item-bottom-author-name">Sarah Padilla</div>
                    </div>
                    <div class="discussions-list-item-bottom-date">
                        <div class="discussions-list-item-bottom-date-icon"></div>
                        <div class="discussions-list-item-bottom-date-text">16.12.2019</div>
                    </div>
                    <div class="discussions-list-item-bottom-reply">
                        <div class="discussions-list-item-bottom-reply-icon"></div>
                        <div class="discussions-list-item-bottom-reply-text">Reply</div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="show-more-messages">Show More</div>
        </div>
        <div class="discussions-info">
            <div class="discussions-info-item">
                <div class="add-message-button">Add message</div>
            </div>
            <div class="discussions-info-item">
                <div class="discussions-info-item-icon"></div>
                <div class="discussions-info-item-text">Today Posts</div>
                <div class="discussions-info-item-number">7</div>
            </div>
            <div class="discussions-info-item">
                <div class="discussions-info-item-icon"></div>
                <div class="discussions-info-item-text">Last Week</div>
                <div class="discussions-info-item-number">45</div>
            </div>
            <div class="discussions-info-item">
                <div class="discussions-info-item-icon"></div>
                <div class="discussions-info-item-text">Last Month</div>
                <div class="discussions-info-item-number">143</div>
            </div>
            <div class="discussions-info-item">
                <div class="discussions-info-item-icon"></div>
                <div class="discussions-info-item-text">Last Six Months</div>
                <div class="discussions-info-item-number">1234</div>
            </div>
            <div class="discussions-info-item">
                <div class="discussions-info-item-icon"></div>
                <div class="discussions-info-item-text">Last year</div>
                <div class="discussions-info-item-number">5344</div>
            </div>
        </div>
    </div>
</div>
