<div class="overview-container">
    <div class="overview">
        <p class="overview-header">Design</p>
        <p class="overview-text">
            iPhone SE takes an incredibly popular design and refines it even further.
            Crafted from bead-blasted aluminum for a satin-like finish, this light and compact phone is designed to fit comfortably in your hand.
            A brilliant 4‑inch1 Retina display makes everything look vibrant and sharp. And matte-chamfered edges and a color-matched stainless steel logo finish the look.
        </p>

        <p class="overview-header">Technology</p>
        <p class="overview-text">
            At the core of iPhone SE is the A9, the same advanced chip that’s in iPhone 6s. With 64‑bit desktop-class architecture,
            the A9 chip brings you spectacular speed and responsiveness. And with console-class graphics performance, your favorite
            games and apps are incredibly rich and immersive. Making it a mighty chip for maximum performance.
        </p>
        <p class="overview-text">
            Embedded directly into the A9 chip, the M9 motion coprocessor connects to the accelerometer, compass, and gyroscope for a
            range of ﬁtness tracking capabilities, such as measuring your steps and distance. It also makes it easy to activate Siri
            by simply saying “Hey Siri,” without having to pick up your iPhone.
        </p>

        <p class="overview-header">Camera</p>
        <p class="overview-text">
            With a 12‑megapixel camera, you can be sure to capture sharp, detailed stills like the ones shot on iPhone 6s.
            That includes shooting — and even editing — brilliant 4K video, which is up to four times the resolution of 1080p HD video.
        </p>
        <p class="overview-text">
            Live Photos bring your still photos to life with sound and movement. Simply touch and hold anywhere on your 12-megapixel
            still and experience the moments just before and after it was taken, so your photos turn into living memories.
        </p>
        <p class="overview-text">
            The Retina display isn’t just a place to see your content — it’s a flash for your FaceTime HD camera. Powered by a custom
            display chip that allows the display to flash three times brighter than usual, the Retina Flash helps illuminate your selfies
            in low light and at night. And a True Tone flash matches the ambient light for more true-to-life colors and natural-looking skin tones.
        </p>

        <p class="overview-header">Touch ID</p>
        <p class="overview-text">
            Touch ID makes unlocking your iPhone SE simple and secure. After all, your fingerprint is the perfect password — no two are alike, and you always have it with you.
        </p>

        <p class="overview-header">Apple Pay</p>
        <p class="overview-text">
            Touch ID isn’t just for unlocking your phone. It also lets you use Apple Pay at over two million stores and within apps.
            In stores, just hold your iPhone near the reader with your finger on Touch ID and you’re done. Because your card details
            are never shared — or even stored on your device — Apple Pay is a safer, more private way to pay.
        </p>

        <p class="overview-header">Wireless</p>
        <p class="overview-text">
            Browse the web, download apps and games, and stream video over 802.11ac Wi-Fi and LTE. And more LTE bands make iPhone SE
            better for worldwide roaming. iPhone SE also supports Voice over LTE and Wi-Fi calling for high-quality wideband calls.
            And with Bluetooth technology, you can stay connected to your Apple Watch, external speakers, and other devices.
        </p>

        <p class="overview-header">Software</p>
        <p class="overview-text">
            With an easy-to-use interface, amazing features, and security at its core, iOS 11 is the most advanced mobile operating
            system and the foundation of iPhone SE. It’s designed to look beautiful and work beautifully on your iPhone, so even the simplest tasks are more fun.
        </p>
        <p class="overview-text">
            Your iPhone comes with a collection of essential apps right out of the box. Messages lets you send texts with photos, videos, links, and more.
            Music makes it easy to access the entire Apple Music library along with your personal collection.4 With FaceTime you can make video calls from
            your iPhone to someone else’s iPhone, iPad, or Mac. And Maps keeps you headed in the right direction with spoken turn-by-turn navigation, real-time
            traffic updates, and a helpful Transit view.
        </p>

        <p class="overview-header">Siri</p>
        <p class="overview-text">
            Siri is your personal assistant, letting you use your voice to send messages, search the web, get guidance on public transportation, and more.
            You can even ask Siri to search your photo library to find just the photo or video you’re looking for.
        </p>

    </div>
</div>
