<div class="reviews-container">
    <div class="reviews">
        <div class="reviews-list">
            <div class="reviews-list-item">
                <div class="reviews-list-item-top">
                    <div class="reviews-list-item-top-experience-of-use">
                        <div class="reviews-list-item-top-experience-of-use-icon"></div>
                        <div class="reviews-list-item-top-experience-of-use-text">Experience of use:</div>
                        <div class="reviews-list-item-top-experience-of-use-number">6 months</div>
                    </div>
                    <div class="reviews-list-item-top-author">
                        <div class="reviews-list-item-top-author-avatar"></div>
                        <div class="reviews-list-item-top-author-name">Vincent Phelps</div>
                    </div>
                </div>
                <div class="reviews-list-item-body">
                    <div class="reviews-list-item-body-advantages">
                        <p class="reviews-list-item-body-advantages-header">Advantages</p>
                        <ul class="reviews-list-item-body-advantages-list">
                            <li class="reviews-list-item-body-advantages-list-item">Compactness, there is no alternative with such dimensions.</li>
                            <li class="reviews-list-item-body-advantages-list-item">Battery holds well</li>
                            <li class="reviews-list-item-body-advantages-list-item">For me, it was important to have NFC</li>
                            <li class="reviews-list-item-body-advantages-list-item">The interface is smoother than in Android.</li>
                        </ul>
                    </div>
                    <div class="reviews-list-item-body-disadvantages">
                        <p class="reviews-list-item-body-disadvantages-header">Disadvantages</p>
                        <ul class="reviews-list-item-body-disadvantages-list">
                            <li class="reviews-list-item-body-disadvantages-list-item">Bad and faded screen</li>
                        </ul>
                    </div>
                    <div class="reviews-list-item-body-comment">
                        <p class="reviews-list-item-body-comment-header">Comment</p>
                        <p class="reviews-list-item-body-comment-text">
                            There was Honor 6, bought 2,5 years ago, everyone satisfied, but still great, so long wanted a small model.
                            I chose the year 1.5, as Iphone se came out understood - what you need, but to pay more than 30 thousand at that time, and now,
                            I consider it an exhaustive search. I waited at last, when I fell to 20 and bought it. The biggest drawback is the screen, yellowed,
                            non-contrasting, of course outdated for now, compared to the same Honor 6 2015. Release, looking miserable, in any case at the initial inclusion.
                            But then nothing, I adjusted the colors, became white and normal, quite satisfying current requirements.
                        </p>
                    </div>
                </div>
                <div class="reviews-list-item-bottom">
                    <div class="reviews-list-item-bottom-data">
                        <div class="reviews-list-item-bottom-data-icon"></div>
                        <div class="reviews-list-item-bottom-data-text">16.12.2019</div>
                    </div>
                    <div class="reviews-list-item-bottom-approval">
                        <div class="reviews-list-item-bottom-approval-like-icon"></div>
                        <div class="reviews-list-item-bottom-approval-like-number">12</div>
                        <div class="reviews-list-item-bottom-approval-dislike-icon"></div>
                        <div class="reviews-list-item-bottom-approval-dislike-number">2</div>
                    </div>
                </div>
            </div>
            <div class="show-more-reviwes">Show more</div>
        </div>
        <div class="reviews-info">
            <div class="reviews-info-item-button">
                <div class="add-review-button">Add review</div>
            </div>
            <div class="reviews-info-item-header">
                Reviews with ratings
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">67%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">12%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">8%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">13%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">4%</div>
            </div>
        </div>
    </div>
</div>
