.cart-header {
    height: 118px;
    width: 100%;
    background-color: #F7F7F7;
    border-bottom: 2px solid #EBEBEB;
    display: flex;
    justify-content: center;
}

//Cart Menu
.cart-menu {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-menu-item {
    height: 118px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-menu-selected-item-icon-block {
    width: 60px;
    height: 60px;
    border: 2px solid #F0F0F0;
    border-radius: 30px;
    background-image: url('/Content/Images/Icons/star.png');
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-menu-item-icon-block {
    width: 60px;
    height: 60px;
    border: 2px solid #F0F0F0;
    border-radius: 30px;
}

.cart-menu-item-step-block {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.cart-menu-item-step-block-number {
    color: #B2B2B2;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
}

.cart-menu-item-step-block-name {
    color: #808080;
    font-size: 12px;
    font-weight: bold;
}

//Goods List
.goods-in-cart-list-container {
    background-color: #F7F7F7;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.goods-in-cart-list {
    width: 1080px;
    background-color: #FFF;
}

.goods-in-cart-list-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 88px;
    color: #B2B2B2;
    border-bottom: 2px solid #F5F5F5;
}

.goods-in-cart-list-header-item-img {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-header-item-name {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-header-item-price {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-header-item-quantity {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-header-item-total {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-header-item-delete {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;
    border-bottom: 2px solid #F5F5F5;
    color: #808080;
}

.goods-in-cart-list-item-img {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-item-name {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    font-size: 14px;
}

.goods-in-cart-list-item-price {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.goods-in-cart-list-item-quantity {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.goods-in-cart-list-item-quantity-minus {

}

.goods-in-cart-list-item-quantity-number {

}

.goods-in-cart-list-item-quantity-plus {

}

.goods-in-cart-list-item-total {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.goods-in-cart-list-item-delete {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-in-cart-list-footer {

}

